@mixin hover() {
    @media (hover) {
        @content;
    }
}

@mixin media-max {
    @media (min-width: 1412px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: 922px) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin media-exsm {
    @media (min-width: 660px) {
        @content;
    }
}

@mixin media-sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin landscape() {
    @media screen and (min-width: 480px)
    and (orientation: landscape)
    and (max-height: 420px)
    and (max-width: 900px) {
        @content;
    }
}

@mixin content {
  max-width: 1060px;
  padding: 0 24px;
  margin: 0 auto;
}
